# Build modules
node_modules/
vendor/

# Log files
*.log

# Common
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
yarn.lock
package-lock.json
.phpunit.result.cache
phpunit-coverage
