$primary: #3389d8;
$primary-light: #5fa2ed;
$gray: #9a9999;
$gray-light: #dadada;

body {
  &.is-loading {
    opacity: 0.5;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    .loader {
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.wp-active-campaign-lists {
  border: solid 1px $gray-light;
  border-bottom: none;
  margin: 20px 0;
  background: #fff;

  .loader {
    display: none;
  }

  header {
    display: flex;
    text-align: center;
    background-color: $gray-light;
    font-weight: bold;
    padding: 10px;
  }

  .row {
    display: flex;
    text-align: center;
    border-bottom: 1px solid $gray-light;

    .col {
      padding: 10px;
    }
  }

  .col {
    flex: 1;
  }

  .toggle {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: block;
    height: 20px;
    left: calc(50% - 30px);
    position: relative;
    transform: translate3d(0, 0, 0);
    width: 40px;

    &:before {
      content: "";
      position: relative;
      top: 3px;
      left: 3px;
      width: 34px;
      height: 14px;
      display: block;
      background: $gray;
      border-radius: 8px;
      transition: background 0.2s ease;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      display: block;
      background: white;
      border-radius: 10px;
      box-shadow: 0 3px 8px rgba($gray, 0.5);
      transition: all 0.2s ease;

      &:before {
        content: "";
        position: absolute;
        display: block;
        margin: -18px;
        width: 56px;
        height: 56px;
        background: rgba($primary, 0.5);
        border-radius: 50%;
        transform: scale(0);
        opacity: 1;
        pointer-events: none;
      }
    }
  }

  .input:checked + .toggle:before {
    background: $primary-light;
  }

  .input:checked + .toggle span {
    background: $primary;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25),
      background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }

  .input:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
  }
}
